body{
  background-color:#ff6666;
}

.titles{
  text-align: center;  
}

.random p{
  text-align: center;
  margin-top: 60px;
  font-size: 15px;
}

.main {
    width: 300px;
    display: block;
    margin: 0 auto;
    height:40px;
    border-radius: 25px;
  background-color: white;
}

.main input{
  width: 240px;
  height:33px;
  border: none;
  
  outline: none;
  padding-bottom:8px;
}

.main #search{
  padding:10px;
  margin:5px;
  width:250px;
  background: transparent;
}
.close{
  float:none;
  padding: 18px 10px;
  font-size:20px;
  cursor: pointer;
}

.result{
  padding-top:10px;
  margin-right: 150px;
  margin-left: 150px;
  text-decoration: none;
  color:black;
  border-radius: 20px;
}

 .result li {
    z-index: 50;
    list-style: none;
    height: 50%;
   padding: 10px 25px;
/*     background-color:#ffc299; */
} 

#output .result a{
  text-decoration: none;
  color: black;
  padding:0;
}

#output{
  text-decoration: none;
  font-size: 20px;
  padding-top: 60px; 
}

.result li h5{
  font-size: 15px;
  padding-left:30px;
  padding-top:15px;
  text-decoration: none;
   
}
.result li:hover{
    cursor: pointer;
    opacity: 0.8;  
  }

.panel:hover{
    border-left: 10px rgb(255,255,0) solid;
  border-radius: 15px;
}
.random:hover{
  cursor: pointer;
   opacity: 0.7;
    color: #d9d9d9;
}
